.ds-2col-stacked > .group-right { width: 40%; }
.page-node-207.page-node-webform-results .views-row-2, .page-node-207.page-node-webform-results .views-row-3, .page-node-207.page-node-webform-results .views-row-4 { display: none; }
.page-node-207.page-node-webform-results .views-label { color: grey; }
