<<<<<<< HEAD
/* Add custom admin styles here */
=======
#branding { overflow: visible !important; height: 124px; }
/*#branding div.block*/#block-om-maximenu-om-maximenu-2 { width: inherit !important; float: none !important; }
#block-om-maximenu-om-maximenu-2 {  }
#branding #management-menu { /*margin-left: 500px;*/ position: absolute; right: 0; }
.om-link {
  color: white;
}
.om-maximenu ul.om-menu { height: 100px; }
.om-maximenu ul.om-menu li.om-leaf { padding: 70px 20px 0; }
.om-maximenu ul.om-menu li.om-leaf.leaf-content { background: url('/sites/roots/themes/adminimal_sub/images/content.png') no-repeat; background-position: 21px 6px; background-size: 80px; } 
.om-maximenu ul.om-menu li.om-leaf.leaf-people { background: url('/sites/roots/themes/adminimal_sub/images/people.png') no-repeat; background-position: 22px 19px; background-size: 66px; } 
.om-maximenu ul.om-menu li.om-leaf.leaf-registrations { background: url('/sites/roots/themes/adminimal_sub/images/registrations.png') no-repeat; background-position: 47px 0; background-size: 63px; } 
.om-maximenu ul.om-menu li.om-leaf.leaf-commerce { background: url('/sites/roots/themes/adminimal_sub/images/commerce.png') no-repeat; background-position: 33px 0; background-size: 70px; } 
.om-maximenu ul.om-menu li.om-leaf:hover { background-color: rgb(47, 47, 47); }
.om-maximenu-content { color: white; }
.om-maximenu-no-style .om-maximenu-content { top: 100px; }
.om-maximenu-no-style .om-maximenu-middle, #branding .om-maximenu .block { background: #2F2F2F; }
.om-maximenu a { color: white; }
.om-maximenu a:hover {
  background-color: rgb(64, 64, 64);
  text-decoration: none;
}
.om-maximenu .form-item input.error { border: solid 1px grey; }
.om-leaf.leaf-people .om-maximenu-middle {
  width: 562px;
  left: -156px;
  position: relative;
}
.om-leaf.leaf-registrations .om-maximenu-middle {
  width: 560px;
  position: relative;
  left: -196px;
}


>>>>>>> c8b571831ea5d9bdbfd522fa5b59df52c3adb4cf
